{% extends "animais/base.html" %}
<!-- -->
{% block content %}
<h1>Animais:</h1>
{% for animal in animais %}
<div class="card my-4">
	<div class="card-body">
		<h5 class="card-title">Nome: {{ animal.nome }}</h5>
		<h6 class="card-subtitle mb-2 text-muted">Autor: {{ animal.autor }}</h6>
		{% comment %} <p class="card-text">{{ animal.descricao }}</p> {% endcomment %}
		<p class="card-text">Data de nascimento: {{ animal.data_nascimento|date:"d/m/Y" }}</p>
		<h6 class="card-subtitle mb-2 text-muted">
			{% comment %} {{ animal.atualizado_em|date:"F d, Y" }} {% endcomment %}
		</h6>
		<a href="{% url 'animais-detalhes' animal.pk %}" class="card-link">Ver mais detalhes..</a>
	</div>
</div>
{% endfor %}
<!-- -->
{% endblock content %}